html, body {
  width: 300px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: opacity 0.5s ease 0.2s, background-color 0.7s ease 0.2s, color 1.2s ease 0.2s;
  opacity: 1;
}

#popup-content {
  padding-top: 0px;
  text-align: center;
}

#error-content {
  margin-left: 15px;
  margin-right: 15px;
}

/* Theme Toggle Button */
#theme-toggle-container {
  position: absolute;
  top: 20px;
  right: 10px;
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  font-size: 1.5em;
  padding: 5px;
  font-size: 18px;
  top: -10px; 
  right: 10px;
}

/* Extra interactables depending on the theme */

/* Light Mode parts */

#buttons {
  margin-top: 20px;
  > button {
    background-color: #e5f2f2;
    border: none;
    width: 80%;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 1s, color 1s;
  }
}
.dark-mode #enable-disable-button {
  background-color: #555;
  &:hover {
    background-color: #666;
  }
}

button:hover {
  background-color: #cff2f2;
}

button[type="reset"] {
  background-color: #fbfbc9;
}

button[type="reset"]:hover {
  background-color: #eaea9d;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  margin-left: 0;
  padding: 0;
  align-items: left;
  line-height: 0;
  > li {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    > div {
      border-radius: 3px;
      border: solid white 1px;
      margin-right: 10px;
      width: 16px;
      height: 16px;
    }
  }
}

.tag {
  background-color: #e0f7fa;
  color: #000;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 1s, color 1s;
}

.tag:hover {
  background-color: #80deea; /* Light blue on hover */
}


/* Dark Mode parts */

.dark-mode {
  background-color: #222;
  color: #eee;
  transition: background-color 1.2s ease .2s, color 1.2s ease .2s;
}

.dark-mode h1,
.dark-mode p,
.dark-mode .tag {
  color: #ddd;
  transition: opacity 0.5s ease 0.2s, background-color 1.2s ease 0.2s, color 1.2s ease 0.2s
}

.dark-mode button {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.dark-mode button:hover {
  background-color: #555;
}

.dark-mode #pie-chart-placeholder {
  background-color: #333;
  border-color: #555;
}

.dark-mode button[type="reset"] {
  background-color: #665c00; /* Dark mustard yellow */
  color: #fff;
}

.dark-mode button[type="reset"]:hover {
  background-color: #8a8664;
}

.dark-mode .tag {
  background-color: #444; /* Dark background */
  color: #fff;
}

.dark-mode .tag:hover {
  background-color: #666; /* Lighter dark background on hover */
}

/* Title Stuff */

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px; /* Reduce space below title */
  top: 0px;
  gap: 0px;
}

#title-section {
  margin-bottom: -10px;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px; /* Reduce space below title */
}

#title-image {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  display: block;
  transition: opacity 1.2s ease-in-out;
}

h1 {
  font-size: 1.6em;
  margin: 0x 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: #333;
  transition: opacity 0.5s ease 0.2s, background-color 1.2s ease 0.2s, color 1.2s ease 0.2s
}

/* Total Time Watched Section */

#time-watched { /* Section Settings */
  margin-bottom: 20px;
}

#time-watched p { /* Links to Paragraph Text */
  font-size: 1.2em;
}

/* Most Time Watched Section */

#most-watched { /* Section Settings */
  margin-bottom: 20px;
  text-align: left;
  padding-left: 40px;
  padding-right: 0px
}

#tags { /* Placement of tags */
  margin-top: 5px;
}

 /* Pie Chart Section */

#pie-chart {  /* Section Settings */
  margin-bottom: 20px;
  > canvas {
    max-width: 200px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: rgba(0,0,0,0);
  }
}

/* Button Settings (IMPLEMENT) */

.hidden {
  display: none;
}